[submodule "javascript_seminar_backend"]
	path = javascript_seminar_backend
	url = https://github.com/kredde/javascript_seminar_backend.git
[submodule "javascript_seminar_frontend"]
	path = javascript_seminar_frontend
	url = https://github.com/PhantomSquirrel7/javascript_seminar_frontend.git
